<div class="jumbotron">
	<center>
		<h1>Welcome to Marisa's Magical Doughnut Shop!</h1>

		<img src="https://s-media-cache-ak0.pinimg.com/736x/e6/af/0f/e6af0f450932782dbb70d2a42647bd47.jpg">

		<br>

		<%= link_to "Check out our menu!", doughnuts_path, class: "btn btn-default" %>
	</center>

</div>