<div class="jumbotron">
  <center>
  <h1><% @doughnut.name %></h1>
  <img src="<%= @doughnut.image %>">
  </center>

  <h3>Dough: <% @doughnut.dough %></h3>
  <h3>Toppings: <% @doughnut.toppings %></h3>
  <h3>Cost: $<% @doughnut.cost %></h3>

</div>
